[submodule ".obsidian/plugins/obsidian-tiffview"]
	path = .obsidian/plugins/obsidian-tiffview
	url = https://github.com/derammo/obsidian-tiffview
[submodule ".obsidian/plugins/hot-reload"]
	path = .obsidian/plugins/hot-reload
	url = https://github.com/pjeby/hot-reload
